
li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  body {
    background-color: rgb(25, 73, 95);
  }
 

  .devoured {
    text-align: center;
  }
  .devoured1 {
    color: red;
  }
  .devoured1 {
    color:green;
  }

  .form-group {
    text-align: center;
  }

  .form-group2 {
    text-align: center;
  }

  .img1 {
    height: 30px;
    width: 30px;
  }